
        <!-- ==== Add New Movie Document Modal Markup ======== -->
        <div class="modal fade" tabindex="-1" id="addReviewModal" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Add New Movie Review</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                          <label for="movieTitle">Movie Title</label>
                          <input type="text" class="form-control" id="movieTitle" placeholder="Gone With The Wind">
                        </div>
                        <div class="form-group">
                            <label for="release">Release</label>
                            <input type="text" class="form-control" id="release" placeholder="Release Year">
                        </div>
                        <div class="form-group">
                            <label for="score">Score</label>
                            <input type="text" class="form-control" id="score" placeholder="Score">
                        </div>
                        <div class="form-group">
                            <label for="reviewer">Reviewer</label>
                            <input type="text" class="form-control" id="reviewer" placeholder="Reviewer">
                        </div>
                        <div class="form-group">
                            <label for="publication">Publication</label>
                            <input type="text" class="form-control" id="publication" placeholder="Publication">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->