<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Movie Analyst Admin</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/movies">Reviews</a>
                </li>
                <li>
                    <a href="/authors">Authors</a>
                </li>
                <li>
                    <a href="/publications">Publications</a>
                </li>
                <li>
                    <a href="/pending">Pending Reviews</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="add_record">
                    <a href="#">Add a Record</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- .container-fluid -->
</nav>