body {
    background-color: #ecedec;
}

.panel-title  {
    display: inline-block;
    max-width: 60%;
}

.radiobox {
   max-width: 35%;
   float: right;
}

.radiobox input[type="radio"] {
    margin-left: 0;
    border-radius: 15px;
}

li.add_review a[href="#"] {
    float: right;
    color: #a7b0e7;
    font-size: 2rem;
}