body {
    background-color: #ecedec;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.panel-title  {
    display: inline-block;
    max-width: 60%;
}

.radio {
   max-width: 40%;
   float: right;
}

.radio input[type="radio"] {
    margin-left: 0;
    border-radius: 15px;
}

#delete {
    color:#CE413D;
    font-weight: 800;
}

li.add_record a[href="#"] {
    color: #a7b0e7;
    font-size: 2rem;
}

.btn {
    display: inline-block;
    max-width: 15vw;
    padding: .8rem;
    border-radius: 25px;
    font-weight: 600;
    font-size: 1.6rem;
    -moz-box-shadow:    inset 5px 5px 30px #000000;
    -webkit-box-shadow: inset 5px 5px 30px #000000;
    box-shadow:         inset 5px 5px 30px #000000;
}
               
/* Navbar Reset */
.navbar {
    background-color: #8B8878;
    border-color: #838B8B;
    border-radius: 0;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #FFF;
}

.navbar .navbar-nav > li > a {
    color: #FFF;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    background-color: #838B8B;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #838B8B;
}

.navbar .navbar-text {
    color: #FFF;
}

.navbar .navbar-toggle {
    border-color: #838B8B;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #838B8B;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #FFF;
}
/* End Reset */

